<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html lang="en"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>{{ page.title }}</title> 
 
  <!-- Framework CSS --> 
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"><![endif]--> 
    <link rel="stylesheet" href="css/core.css" type="text/css" media="screen, projection"> 
</head> 
 
<body> 
 
    <div class="container"> 
        <div class="span-24 header last">
            <h1><a href="index.html">network emulator</a></h1>
        </div>
        <div class="span-24 last top-menu">
            <p>
            <a href="http://github.com/imankulov/network-emulator/tarball/master">[&nbsp;download&nbsp;.tgz&nbsp;]</a>
            <a href="http://github.com/imankulov/network-emulator/zipball/master">[&nbsp;download&nbsp;.zip&nbsp;]</a>
            <a href="http://github.com/imankulov/network-emulator/">[&nbsp;github&nbsp;project&nbsp;]</a>
            </p>
        </div>

        <hr /> 

        <div class="span-5 left-menu"> 
            <ul>
            <li><a href="index.html">index page</a>
            <li><a href="build.html">build instructions</a>
            </ul>
        </div> 
        <div class="span-17"> 
    		{{ content }}
        </div> 
        <div class="span-2 last"> &nbsp; </div>
        <hr />

        <div class="span-24 last footer">
            <p>Created with <a href="http://www.pjsip.org/" target="_blank">PJSIP</a><br/>
            &copy; <a href="mailto:roman@netangels.ru">Roman Imankulov</a></p>
        </div>
    </div>
</body> 
</html>
